/TWTools/.idea
/TWTools/build
/TWTools/dist
/TWTools/Config.json

/BlogTools/.idea
/BlogTools/build
/BlogTools/dist
/BlogTools/save

/ReptileTools/.idea
/ReptileTools/build
/ReptileTools/dist
/ReptileTools/save

/Excel2Bytes/.idea
/Excel2Bytes/build
/Excel2Bytes/dist
/Excel2Bytes/Save